@use '../../components/Container/Container.module.scss' as container;

// Variables
$primary-color: #666;
$font-size-base: 0.9rem;
$hover-transition: 0.3s ease;
$box-shadow-base:
  0 2px 4px rgba(0, 0, 0, 0.1),
  0 4px 12px rgba(0, 0, 0, 0.1);
$box-shadow-hover:
  0 6px 12px rgba(0, 0, 0, 0.2),
  0 12px 24px rgba(0, 0, 0, 0.2);

// Mixins
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin transition($properties: all, $duration: 0.3s, $ease: ease) {
  transition: $properties $duration $ease;
}

@mixin ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.SearchContainer {
  @extend .Container;
  width: 30%;
  padding: 1rem;

  @include media-query(1024px) {
    width: 40%;
  }

  @include media-query(768px) {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }

  .ResultsWrapper {
    flex-grow: 1;
    overflow-y: auto;
  }
}
// Semester pagination
.carouselTab {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.selected {
    background-color: #2196f3;
    color: white;

    &:hover {
      background-color: #1976d2;
    }

    &:active {
      background-color: #1565c0;
    }
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Calendar Card
.calendar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  @include box-shadow($box-shadow-base);
  padding: 8px;
  margin: -1px;
  box-sizing: border-box;
  @include transition;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;

  &:hover {
    transform: translateY(-4px);
    @include box-shadow($box-shadow-hover);

    &::before {
      opacity: 1;
    }

    .options-button {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(to right, var(--tw-gradient-stops));
    opacity: 0;
    @include transition(opacity, $hover-transition);
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .course-code,
  .course-title,
  .time,
  .location {
    font-size: 14px;
    @include ellipsis;
  }

  .course-title {
    color: $primary-color;
    flex-grow: 1;
  }

  .card-body {
    display: flex;
    align-items: flex-start;
  }

  .event-details {
    display: flex;
    flex-direction: column;
  }

  .event-time {
    margin-bottom: 4px;
  }

  .options-button {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include transition(background-color $hover-transition, transform $hover-transition);
    opacity: 0;

    &:hover {
      transform: scale(1.1);
    }
  }

  .options-icon {
    color: #fff;
  }
}

// Media Queries
@include media-query(768px) {
  .SearchContainer {
    width: 100%;
    height: 50vh;
    flex-direction: column;

    .SearchWrapper,
    .ResultsWrapper {
      margin-bottom: 0;
    }
  }

  .calendar-card {
    padding: 8px;
    margin: 3px;

    .course-title,
    .time,
    .location {
      font-size: 12px;
    }
  }

  :root {
    --grid-row-height: 8px;
  }
}

@include media-query(480px) {
  .calendar-card {
    flex-direction: row;

    .card-header,
    .card-body {
      flex: 1;
    }
  }
}

.calendar-container {
  position: relative;
  display: grid;
  grid-template-columns:
    [time-col-start] auto [time-col-end grid-start] repeat(var(--days-length), 1fr)
    [grid-end];
  overflow: hidden;
  height: 100vh;
}

.calendar-time {
  grid-column: time-col-start / time-col-end;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  padding: 8px 0;
}

.time-slot {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.calendar-main {
  grid-column: grid-start / grid-end;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  background-color: #fff;
}
