/* CSS variables for colors and transitions */
:root {
  --primary-color: #666;
  --font-size-base: 0.9rem;
  --hover-transition: 0.3s ease;
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2);
}

.SearchContainer {
  width: 30%;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .SearchContainer {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .SearchContainer {
    width: 100%;
    height: auto;
    padding: 0.5rem;
  }
}

.ResultsWrapper {
  flex-grow: 1;
  overflow-y: auto;
}

/* Semester pagination */
.carouselTab {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.carouselTab:hover {
  background-color: #f4f6fa;
}

.carouselTab:active {
  background-color: #f4f6fa;
}

.carouselTab.selected {
  background-color: #2196f3;
  color: white;
}

.carouselTab.selected:hover {
  background-color: #1976d2;
}

.carouselTab.selected:active {
  background-color: #1565c0;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Calendar Card */
.calendar-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: var(--box-shadow-base);
  padding: 8px;
  margin: -1px;
  box-sizing: border-box;
  transition: transform var(--hover-transition), box-shadow var(--hover-transition), opacity var(--hover-transition);
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.calendar-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--box-shadow-hover);
}

.calendar-card:hover::before {
  opacity: 0.7; /* Slightly increase opacity on hover for emphasis */
}

.calendar-card .options-button {
  opacity: 1;
}

.calendar-card .content-wrapper {
  position: relative; /* Ensure content is above the pseudo-element */
  z-index: 1;
  color: white; /* Ensure text is readable over the background */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); /* Enhance text readability */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.calendar-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Inherit the background from the parent */
  mix-blend-mode: overlay;
  opacity: 0.5; /* Adjust as needed for desired effect */
  border-radius: 10px; /* Match the border radius */
  pointer-events: none; /* Allow clicks to pass through */
  transition: opacity var(--hover-transition);
}

.calendar-card .card-header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.calendar-card .course-code,
.calendar-card .course-title,
.calendar-card .time,
.calendar-card .location {
  font-size: 14px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-card .course-title {
  color: var(--primary-color);
  flex-grow: 1;
}

.calendar-card .card-body {
  display: flex;
  align-items: flex-start;
}

.calendar-card .event-details {
  display: flex;
  flex-direction: column;
}

.calendar-card .event-time {
  margin-bottom: 4px;
}

.calendar-card .options-button {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color var(--hover-transition), transform var(--hover-transition);
  opacity: 0;
}

.calendar-card .options-button:hover {
  transform: scale(1.1);
}

.calendar-card .options-icon {
  color: #fff;
}

/* Media Queries */
@media (max-width: 768px) {
  .SearchContainer {
    width: 100%;
    height: 50vh;
    flex-direction: column;
  }

  .SearchWrapper,
  .ResultsWrapper {
    margin-bottom: 0;
  }

  .calendar-card {
    padding: 8px;
    margin: 3px;
  }

  .calendar-card .course-title,
  .calendar-card .time,
  .calendar-card .location {
    font-size: 12px;
  }

  :root {
    --grid-row-height: 8px;
  }
}

@media (max-width: 480px) {
  .calendar-card {
    flex-direction: row;
  }

  .calendar-card .card-header,
  .calendar-card .card-body {
    flex: 1;
  }
}

.calendar-container {
  position: relative;
  display: grid;
  grid-template-columns: [time-col-start] auto [time-col-end grid-start] repeat(var(--days-length), 1fr) [grid-end];
  overflow: hidden;
  height: 100vh;
}

.calendar-time {
  grid-column: time-col-start / time-col-end;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  background-color: #f4f6fa;
  border-right: 1px solid #ccc;
  padding: 8px 0;
}

.time-slot {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.calendar-main {
  grid-column: grid-start / grid-end;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  background-color: #fff;
  border-radius: 10px;
}

.event-department {
  font-weight: bold;
  font-size: var(--font-size-base);
}

.calendar-card > div {
  position: relative;
  z-index: 1;
}
