@use 'node_modules/tailwindcss/base';
@use 'node_modules/tailwindcss/components';
@use 'node_modules/tailwindcss/utilities';

:root {
  --foreground-rgb: 30, 30, 30; /* Dark Gray for text */
  --background-start-rgb: 18, 40, 63; /* compass-blue but darker */
  --background-end-rgb: 15, 30, 47; /* Change to compass-blue */
  --system-text-color: #f6efec; /* Light Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 224, 224, 224; !* Soft White for text *!*/
    /*--background-start-rgb: 18, 18, 18; !* Near Black *!*/
    /*--background-end-rgb: 30, 30, 30; !* Dark Gray *!*/
    /*--system-text-color: #fafafa; !* Soft Blue *!*/
    --foreground-rgb: 0, 0, 0; /* Dark Gray for text */
    --background-start-rgb: 18, 18, 18; /* Near Black */
    --background-end-rgb: 30, 30, 30; /* Change to compass-blue */
    --system-text-color: #f6efec; /* Light Gray */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

@keyframes cascadeFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cascade-animation {
  animation: cascadeFadeIn 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.columns-1 {
  column-count: 1;
}
.columns-2 {
  column-count: 2;
}
.columns-3 {
  column-count: 3;
}
.columns-4 {
  column-count: 4;
}

.modal-backdrop {
  opacity: 0;
  animation: backdropFadeIn 0.4s ease forwards;
}

.modal-entrance {
  opacity: 0;
  transform: scale(0.95);
  animation: modalEntrance 0.4s ease forwards;
}

/* TODO: Double check if this is needed */
@keyframes backdropFadeIn {
  to {
    opacity: 1;
  }
}

@keyframes modalEntrance {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// Base styles for calendar grid
.container {
  width: 100%;
  height: 500px; /* Adjust the height as you like */
  background-color: #f0f0f0; /* A light background color */
}

.canvas {
  position: relative; /* For positioning the gridlines */
  width: 100%;
  height: 100%;
}

.horizontal-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(auto-fill, minmax(30px, 1fr)); /* Change 30px for line height */
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.horizontal-lines::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
}

.vertical-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  border-right: 1px solid #ddd;
}

.vertical-lines::before {
  content: '';
  position: absolute;
  top: 0;
  left: 20%; /* Adjust for column positions */
  width: 1px;
  height: 100%;
  border-right: 1px solid #ddd;
}
