.Action {
  padding: 6px;
  border-radius: 5px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

.Action svg {
  display: block;
  margin: auto;
  overflow: visible;
  fill: #ffffff; /* Base color of handle and remove button */
}

@media (hover: hover) {
  .Action:hover {
    background-color: var(--action-background, rgba(0, 0, 0, 0.05));
  }

  .Action:hover svg {
    fill: #ffffff; /* The fill of handle and remove button on hover. This corresponds to tailwind gray-500 */
  }
}

.Action:active {
  background-color: var(--background, rgba(0, 0, 0, 0.05));
}

.Action:active svg {
  fill: #ffffff; /* The fill of handle and remove button "ghost" when dragging */
}

.Action:focus-visible {
  outline: none;
  box-shadow:
    0 0 0 2px rgba(255, 255, 255, 0),
    0 0px 0px 2px #4c9ffe;
}
